/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body {
  background-color: #0E1C36;
  margin-top: 103px;
  position: relative;
  padding-bottom: 225px;
  min-height: 100vh;
}

/* !MOBILE FIRST STYLING! */
/* ________INDEX.HTML________ */
/* HEADER */

.header-li, .header-link, .sign-up-li, button {
  font-family: 'Montserrat', sans-serif, Arial;
  font-weight: 600;
  font-size: 16px;
  color: #0E1C36;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  background-color: #FFD700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 2%;
  padding-left: 2%;
}

.hamburger-menu {
  color: #FFFFFF;
  font-size: 2rem;
  padding-top: 25px;
  cursor: pointer;
}

nav, #menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
  z-index: 10;
}

nav {
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 100px;
  background-color: #ffffff;
  width: 140px;
}

nav a {
  display: block;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: block;
  padding-top: 25px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-li .header-link {
  opacity: 80%;
}

.sign-up-li {
  opacity: 100%;
}

.nav-links .header-li .header-link:hover {
  opacity: 100%;
  text-decoration: underline;
}

.sign-up-cta {
  padding-top: 25px;
}

.sign-up-button {
  padding: 11px 16px;
  background-color: #FFD700;
  color: rgba(14, 28, 54, 0.85);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.sign-up-button:hover {
  color: rgba(14, 28, 54, 1);
  background-color: #ffeb7c;
}

.shopping-cart {
  color: #FFFFFF;
  padding-top: 25px;
  cursor: pointer;
  font-size: 1.8rem;
}

.logo {
  width: 150px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}

/* MAIN BODY */

.main-body {
  padding-top: 0px;
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 5%;
}

/* MOVIE HERO BANNER */

.movie-hero-banner {
  cursor: pointer;
  /*margin-top: 103px;*/
  margin-bottom: 5px;
}

.movie-hero-banner img {
  max-width: 100%;
  height: auto;
}


/* MOVIE CARD */

.movie-showcase-header {
  color: white;
  font-family: 'Poppins', sans-serif, Arial;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 5px;
}

.movie-showcase-title-link, .movie-picture-link, .movie-title-link {
  text-decoration: none;
  color: white;
}

.movie-showcase-title {
  display: flex;
}

.movie-showcase-chevron {
  padding-left: 10px;
}

.movie-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 28%;
  column-gap: 16px;
  row-gap: 40px;
  margin-bottom: 6px;
  /* scroll carousel taken from https://www.youtube.com/watch?v=3yfswsnD2sw */
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.movie-grid ::-webkit-scrollbar {
  display: none;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
  scroll-padding-inline: 1rem;
}

.movie-picture {
  inline-size: 100%;
  aspect-ratio: 0.63 / 1;
  object-fit: cover;
}

.movie-title {
  color: white;
  font-family: 'Montserrat', sans-serif, Arial;
  font-weight: 700;
  font-size: 11px;
  text-align: center;
  padding-bottom: 10px;
  line-height: 169%;
}

/* BELOW MOVIE CARDS */

.collection-banner {
  position: relative;
  display: flex;
  justify-content: center;
}

.collection-banner img {
  max-width: 100%;
  height: auto;
}

.collection-text {
  width: 100%;
  position: absolute;
  top: 0;
  color: #0E1C36;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 6px;
  font-family: 'Montserrat', sans-serif, Arial;
  font-weight: 600;
  font-size: 20px;
}

.explore-more-button {
  background-color: #0E1C36;
  color: #FFFFFF;
  padding: 8px 124px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* FOOTER */

footer {
  /* Keeping Footer at the Bottom of the Page 
  yt-link:https://www.youtube.com/watch?v=US_3XvufMLU 
  rest of code under GENERAL body*/
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-box {
  background-color: #1d2e4b;
}

.footer-socials {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 20%;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-socials i {
  color: #ffffff;
  font-size: 1.8em;
  border-radius: 40%;
}

.footer-text ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer-text ul li a {
  color: #ffffff;
  margin: 10px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif, Arial;
  font-size: 0.8em;
  font-weight: 400;
  opacity: 80%;
}

.footer-text ul li a:hover {
  text-decoration: underline;
  opacity: 100%;
}

.footer-text-2 {
  padding-top: 15px;
}

.footer-copyright {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif, Arial;
  font-size: 0.5em;
  opacity: 80%;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 25px;
}



/* !DESKTOP MEDIA QUERY! */
/* ________INDEX.HTML________ */
/* HEADER MQ */

@media (min-width: 900px) {
  header {
    padding-right: 5%;
    padding-left: 5%;
  }
  
  .hamburger-menu {
    display: none;
  }

  #menu-checkbox:checked ~ nav {
    display: inline-block;
    z-index: auto;
  }
  
  nav {
    position: static;
    background-color: #FFD700;
    width: auto;
    display: inline-block;
  }
  
  .nav-links, .sign-up-li  {
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    display: inline-block;
  }
  
  .sign-up-cta {
    padding-top: 0px;
  }
  
  .sign-up-button {
    background-color: #FFFFFF;
  }
  
  .sign-up-button:hover {
    background-color: #f1f1f1;
  }
    
  .logo {
    margin-right: auto;
    margin-left: 0px;
  }
  
  /* MOVIE HERO BANNER MQ */
  
  .movie-hero-banner {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  
  /* MOVIE CARD MQ */
  
  .movie-showcase-header {
    font-size: 24px;
  }
  
  .movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .movie-title {
    font-size: 16px;
  }
  
  /* BELOW MOVIE CARDS MQ */
  
  .collection-banner {
    margin-top: 40px;
  }
  
  .collection-text {
    margin-top: 5%;
    font-size: 26px;
  }
  
  .explore-more-button {
    padding: 10px 164px;
    font-size: 20px;
  }
  
  .explore-more-button:hover {
    opacity: 93%;
  }
  
  /* FOOTER MQ */
  
  .footer-socials {
    padding: 0px 40%;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  
  .footer-socials i {
    font-size: 2em;
  }
  
  .footer-text ul li a {
    font-size: 0.9em;
  }
  
  .footer-copyright {
    font-size: 0.6em;
  }

}



/* ________EXPLORE.HTML________ */
/* HEADING */
.explore-heading {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.explore-h1 {
  color: white;
  font-family: 'Poppins', sans-serif, Arial;
  font-size: 24px
}
/* MAIN GRID */
