li, a, button {
  font-family: Montserrat, sans-serif, Arial;
  font-weight: 500;
  font-size: 16px;
  color: #0E1C36;
  text-decoration: none;
}

header {
  background-color: #FFD700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 5%;
  padding-left: 5%;
}

.logo {
  width: 150px;
  cursor: pointer;
  margin-right: auto;
}

.nav-links {
  list-style: none;
  
}

.nav-links li {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links li a {
  opacity: 75%;
}

.nav-links li a:hover {
  opacity: 100%;
  text-decoration: underline;
}

.sign-up-cta {
  padding-top: 25px;
}

.sign-up-button {
  margin-left: 20px;
  padding: 11px 16px;
  background-color: #FFFFFF;
  color: rgba(14, 28, 54, 0.90);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.sign-up-button:hover {
  color: rgba(14, 28, 54, 1);
  background-color: #F1F1F1;
}